@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#app {
  max-width: 1440px;
  font-weight: normal;
  margin: 0 auto;
}


